body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	margin: 0;
	font-weight: 300;
}

.clearfix {
	clear: both;
	content: '';
	display: table-cell;
}

header {
	border-bottom: 1px solid #efefef;
}

.logo {
	margin: 30px 0;
}

a {
	-moz-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
}

a:hover {
	-moz-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
}

nav {
	float: right;
	margin: 30px 0;
	width: 350px;
}

nav ul {
	padding: 0;
}

nav ul li {
	list-style-type: none;
	float: left;
}

nav ul li:not(.first-li) {
	margin-left: 25px;
}

nav a {
	color: #7b7b7b;
	text-decoration: none;
	font-weight: 300;
	font-size: 18px;
}

nav a:hover {
	text-decoration: none;
	color: #c71734;
}

.footer-nav {
	width: 482px;
	margin: 31px auto;
}

.footer-nav a {
	color: #7b7b7b;
	text-decoration: none;
	font-weight: 300;
	font-size: 18px;
}

.footer-nav a:hover {
	text-decoration: none;
	color: #c71734;
}

.footer-nav a:not(.first-foot-a) {
	margin-left: 25px;
}

footer {
	margin-top: 300px;
	border-top: 1px solid #efefef;
}